body {
    text-align: center;
}

.output {
    width: 300px;
    text-align: left;
    margin: 10px auto;
}

.combobox {
    display: inline-block;
    position: relative;
    width: 200px;
    text-align: left;
    vertical-align: top;
}

.combobox-input {
    display: block;
    background: #fff;
    border: 1px solid #cecece;
    padding: 0 8px;
    cursor: pointer;
    color: black;
    text-decoration: none;
    height: 2em;
    line-height: 1em;
    outline: none;
    overflow: hidden;
    width: 100%;
    text-align: left;
}

.combobox-input:focus {
    box-shadow: inset 0 0 2px #00f;
}

.combobox-input.empty {
    color: #bbb;
}

.combobox-list {
    position: absolute;
    z-index: 100;
    display: block;
    width: 100%;
    box-shadow: 0 1px 2px 1px rgba(0,0,0,0.2);
    top: 0;
    list-style: none;
    margin: 0;
    padding: 0;
}

.combobox-list-li:hover {
    background: #eee;
}

.combobox-list-li {
    display: block;
    background: #fff;
}

.combobox-list-li.selected {
    background: #afa;
}

.combobox-list-item {
    display: block;
    text-decoration: none;
    color: #000;
    padding: 4px 8px;
    cursor: pointer;
}
